absl-py==0.10.0
adapter-transformers==2.11.0
astroid==2.4.2
astunparse==1.6.3
cachetools==4.1.1
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
configparser==5.0.0
docker-pycreds==0.4.0
filelock==3.0.12
gast==0.3.3
gitdb==4.0.5
gitpython==3.1.8
google-auth-oauthlib==0.4.1
google-auth==1.21.2
google-pasta==0.2.0
grpcio==1.32.0
h5py==2.10.0
idna==2.10
importlib-metadata==1.7.0
isort==5.4.2
joblib==0.16.0
keras-preprocessing==1.1.2
lazy-object-proxy==1.4.3
markdown==3.2.2
mccabe==0.6.1
mkl-fft==1.2.0
mkl-random==1.1.1
mkl-service==2.3.0
numpy==1.19.1
oauthlib==3.1.0
olefile==0.46
opt-einsum==3.3.0
packaging==20.4
pandas==1.1.2
pathtools==0.1.2
pep8==1.7.1
pillow==7.2.0
pip==20.2.2
promise==2.3
protobuf==3.13.0
psutil==5.7.2
pyasn1-modules==0.2.8
pyasn1==0.4.8
pylint==2.6.0
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
pyyaml==5.3.1
regex==2020.7.14
requests-oauthlib==1.3.0
requests==2.24.0
rsa==4.6
sacremoses==0.0.43
scikit-learn==0.23.2
scipy==1.4.1
sentencepiece==0.1.91
sentry-sdk==0.17.6
setuptools==49.6.0.post20200814
shortuuid==1.0.1
six==1.15.0
sklearn==0.0
smmap==3.0.4
subprocess32==3.5.4
tensorboard-plugin-wit==1.7.0
tensorboard==2.3.0
tensorflow-estimator==2.3.0
tensorflow-gpu==2.3.0
termcolor==1.1.0
threadpoolctl==2.1.0
tokenizers==0.7.0
toml==0.10.1
torch==1.6.0
torchvision==0.7.0
tqdm==4.49.0
transformers==3.1.0
typed-ast==1.4.1
urllib3==1.25.10
wandb==0.10.1
watchdog==0.10.3
werkzeug==1.0.1
wheel==0.35.1
wrapt==1.11.2
zipp==3.1.0